<html>
	<head>
		<title>LearningPal</title>
		<link rel="stylesheet" href="{{'/assets/main.css' | prepend: site.baseurl}}">
	</head>
	<body>
		{% include_relative _components/navbar/index.html %}
    {% include_relative _components/leadingSection/index.html %}
    {% include_relative _components/footer/index.html %}
		<script src="{{'/assets/vendor/jquery.min.js' | prepend: site.baseurl}}"></script>
		<script src="{{'/assets/vendor/popper.min.js' | prepend: site.baseurl}}"></script>
		<script src="{{'/assets/vendor/bootstrap.min.js' | prepend: site.baseurl}}"></script>
	</body>
</html>
